Load PUDL Data as example of Data Ingestion pipeline
Copyright (C) 2021 OS-Climate

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

In [1]:
# pip install boto3
# pip install python-dotenv
# pip install trino
# pip install pandas
# pip install pyarrow

In [2]:
from dotenv import dotenv_values, load_dotenv
import os
import pathlib
import boto3
import pandas as pd
import trino
import io

Load Environment Variables

In [3]:
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

Create an S3 resource for the bucket holding source data, then retrieve the relevant bucket and list objects

In [4]:
s3_resource = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)

In [5]:
bucket = s3_resource.Bucket(os.environ['S3_LANDING_BUCKET'])

# list all objects
#for obj in bucket.objects.all():
#    print(obj.key, obj.last_modified)
    
files = []
for file in bucket.objects.filter(Prefix='PUDL/pudl-0.4.0/pudl_data/parquet/'):
    if file.key.endswith('parquet'):
        files.append(file.key)
files[0:10]

['PUDL/pudl-0.4.0/pudl_data/parquet/epacems/year=1995/state=AL/0bd3b8d4be104c6c9b4531fff26f0671.parquet',
 'PUDL/pudl-0.4.0/pudl_data/parquet/epacems/year=1995/state=FL/a3c8fed0646345c5a959862f6307112e.parquet',
 'PUDL/pudl-0.4.0/pudl_data/parquet/epacems/year=1995/state=GA/7f6fa554bac640bc8ac6b4f7698f1e22.parquet',
 'PUDL/pudl-0.4.0/pudl_data/parquet/epacems/year=1995/state=IA/8cae277530824844ad4f54b7c88e8813.parquet',
 'PUDL/pudl-0.4.0/pudl_data/parquet/epacems/year=1995/state=IL/4854d33914df43cf9b45527d1c56879c.parquet',
 'PUDL/pudl-0.4.0/pudl_data/parquet/epacems/year=1995/state=IN/2f40504880c74aea9884d2e7576ef89e.parquet',
 'PUDL/pudl-0.4.0/pudl_data/parquet/epacems/year=1995/state=KS/9aed897519164b20b8346c15353d892d.parquet',
 'PUDL/pudl-0.4.0/pudl_data/parquet/epacems/year=1995/state=KY/793ec765eb474844a92bf2821b4f9d78.parquet',
 'PUDL/pudl-0.4.0/pudl_data/parquet/epacems/year=1995/state=MA/e8044aec4c784e3e84031b233a32e037.parquet',
 'PUDL/pudl-0.4.0/pudl_data/parquet/epacems/year=1995/state=MD/58b58c25c07b42e3bec1313f7d15cf88.parquet']

Read the first parquet file into a Pandas data frame and view the results

In [6]:
buffer = io.BytesIO()
parquet_file = s3_resource.Object(os.environ['S3_LANDING_BUCKET'],files[0])
parquet_file.download_fileobj(buffer)
df = pd.read_parquet(buffer)
df

,plant_id_eia,unitid,operating_datetime_utc,operating_time_hours,gross_load_mw,steam_load_1000_lbs,so2_mass_lbs,so2_mass_measurement_code,nox_rate_lbs_mmbtu,nox_rate_measurement_code,nox_mass_lbs,nox_mass_measurement_code,co2_mass_tons,co2_mass_measurement_code,heat_content_mmbtu,facility_id,unit_id_epa
0,7,1,1995-01-01 06:00:00+00:00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,<NA>,<NA>
1,7,1,1995-01-01 07:00:00+00:00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,<NA>,<NA>
2,7,1,1995-01-01 08:00:00+00:00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,<NA>,<NA>
3,7,1,1995-01-01 09:00:00+00:00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,<NA>,<NA>
4,7,1,1995-01-01 10:00:00+00:00,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122635,56,3,1996-01-01 01:00:00+00:00,1.0,198.0,NaN,2030.500000,Measured,0.514,Measured,985.749023,Calculated,196.800003,Measured,1917.800049,11,55
122636,56,3,1996-01-01 02:00:00+00:00,1.0,176.0,NaN,1629.599976,Measured,0.534,Measured,906.731995,Calculated,174.199997,Measured,1698.000000,11,55
122637,56,3,1996-01-01 03:00:00+00:00,1.0,167.0,NaN,1495.400024,Measured,0.539,Measured,869.083984,Calculated,165.399994,Measured,1612.400024,11,55
122638,56,3,1996-01-01 04:00:00+00:00,1.0,174.0,NaN,1630.800049,Measured,0.536,Measured,892.921997,Calculated,170.899994,Measured,1665.900024,11,55
122639,56,3,1996-01-01 05:00:00+00:00,1.0,163.0,NaN,1553.800049,Measured,0.553,Measured,878.661987,Calculated,163.000000,Measured,1588.900024,11,55

In [7]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122640 entries, 0 to 122639
Data columns (total 17 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   plant_id_eia               122640 non-null  int32
 1   unitid                     122640 non-null  string
 2   operating_datetime_utc     122640 non-null  datetime64[ns, UTC]
 3   operating_time_hours       122639 non-null  float32
 4   gross_load_mw              122640 non-null  float32
 5   steam_load_1000_lbs        0 non-null       float32
 6   so2_mass_lbs               101291 non-null  float32
 7   so2_mass_measurement_code  101292 non-null  category
 8   nox_rate_lbs_mmbtu         101291 non-null  float32
 9   nox_rate_measurement_code  101292 non-null  category
 10  nox_mass_lbs               100628 non-null  float32
 11  nox_mass_measurement_code  101292 non-null  category
 12  co2_mass_tons              101291 non-null  float32
 13  co2_mass_measurement_code  101292 non-null  category
 14  heat_content_mmbtu         122640 non-null  float32
 15  facility_id                30912 non-null   Int32
 16  unit_id_epa                30912 non-null   Int32
dtypes: Int32(2), category(4), datetime64[ns, UTC](1), float32(8), int32(1), string(1)
memory usage: 7.7 MB

Ingest the data onto the S3 Development Bucket

In [8]:
tablename = 'Y95_AL'
df.to_parquet('/tmp/{tname}.parquet'.format(tname=tablename), index=False)

In [9]:
# Create an S3 client
s3 = boto3.client(
    service_name="s3",
    endpoint_url=os.environ['S3_DEV_ENDPOINT'],
    aws_access_key_id=os.environ['S3_DEV_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_DEV_SECRET_KEY'],
)

In [10]:
s3.upload_file(
    Bucket=os.environ['S3_DEV_BUCKET'],
    Key='trino/pudl/{tname}/{tname}.parquet'.format(tname=tablename),
    Filename='/tmp/{tname}.parquet'.format(tname=tablename)
)

Build a map and define schema mapping logic for parquet to sql

In [11]:
_p2smap = {
    'string': 'varchar',
    'float32': 'real',
    'int32': 'integer',
    'Int32': 'integer',
    'category': 'varchar',
    'datetime64[ns, UTC]': 'timestamp'
}

def pandas_type_to_sql(pt):
    st = _p2smap.get(pt)
    if st is not None:
        return st
    raise ValueError("unexpected pandas column type '{pt}'".format(pt=pt))

# add ability to specify optional dict for specific fields?
# if column name is present, use specified value?
def generate_table_schema_pairs(df):
    ptypes = [str(e) for e in df.dtypes.to_list()]
    stypes = [pandas_type_to_sql(e) for e in ptypes]
    pz = list(zip(df.columns.to_list(), stypes))
    return ",\n".join(["    {n} {t}".format(n=e[0],t=e[1]) for e in pz])

In [12]:
conn = trino.dbapi.connect(
    host=os.environ['TRINO_HOST'],
    port=int(os.environ['TRINO_PORT']),
    user=os.environ['TRINO_USER'],
    http_scheme='https',
    auth=trino.auth.JWTAuthentication(os.environ['TRINO_PASSWD']),
    verify=True,
)
cur = conn.cursor()

In [13]:
# Show available schemas to ensure trino connection is set correctly
cur.execute('show schemas in osc_datacommons_dev')
cur.fetchall()

[['aicoe_osc_demo'],
 ['climate_itr_tool_project'],
 ['company_data'],
 ['default'],
 ['defaultschema1'],
 ['demo'],
 ['eje'],
 ['epacems'],
 ['epacems_y95_al'],
 ['information_schema'],
 ['os_climate_corporate_data_project'],
 ['pudl'],
 ['team1'],
 ['team2'],
 ['testaccessschema1'],
 ['urgentem']]

Create ingestion schema based on source data name and remove old tables if necessary

In [14]:
cur.execute('create schema if not exists osc_datacommons_dev.pudl')
cur.fetchall()

[[True]]

In [15]:
cur.execute('drop table if exists osc_datacommons_dev.pudl.' + tablename)
cur.fetchall()

[[True]]

In [16]:
schema = generate_table_schema_pairs(df)

tabledef = """create table if not exists osc_datacommons_dev.pudl.{tname}(
{schema}
) with (
    format = 'parquet',
    external_location = 's3a://{bucket}/trino/pudl/{tname}/'
)""".format(schema=schema,bucket=os.environ['S3_DEV_BUCKET'],tname=tablename)
print(tabledef)

# tables created externally may not show up immediately in cloud-beaver
cur.execute(tabledef)
cur.fetchall()

create table if not exists osc_datacommons_dev.pudl.Y95_AL(
    plant_id_eia integer,
    unitid varchar,
    operating_datetime_utc timestamp,
    operating_time_hours real,
    gross_load_mw real,
    steam_load_1000_lbs real,
    so2_mass_lbs real,
    so2_mass_measurement_code varchar,
    nox_rate_lbs_mmbtu real,
    nox_rate_measurement_code varchar,
    nox_mass_lbs real,
    nox_mass_measurement_code varchar,
    co2_mass_tons real,
    co2_mass_measurement_code varchar,
    heat_content_mmbtu real,
    facility_id integer,
    unit_id_epa integer
) with (
    format = 'parquet',
    external_location = 's3a://ocp-odh-os-demo-s3/trino/pudl/Y95_AL/'
)

[[True]]

In [17]:
cur.execute('SELECT * FROM osc_datacommons_dev.pudl.y95_al limit 10')
cur.fetchall()

[[7,
  '1',
  '1995-01-01 06:00:00.000',
  0.0,
  0.0,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  0.0,
  None,
  None],
 [7,
  '1',
  '1995-01-01 07:00:00.000',
  0.0,
  0.0,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  0.0,
  None,
  None],
 [7,
  '1',
  '1995-01-01 08:00:00.000',
  0.0,
  0.0,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  0.0,
  None,
  None],
 [7,
  '1',
  '1995-01-01 09:00:00.000',
  0.0,
  0.0,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  0.0,
  None,
  None],
 [7,
  '1',
  '1995-01-01 10:00:00.000',
  0.0,
  0.0,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  0.0,
  None,
  None],
 [7,
  '1',
  '1995-01-01 11:00:00.000',
  0.0,
  0.0,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  0.0,
  None,
  None],
 [7,
  '1',
  '1995-01-01 12:00:00.000',
  0.0,
  0.0,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  0.0,
  None,
  None],
 [7,
  '1',
  '1995-01-01 13:00:00.000',
  0.0,
  0.0,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  0.0,
  None,
  None],
 [7,
  '1',
  '1995-01-01 14:00:00.000',
  0.0,
  0.0,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  0.0,
  None,
  None],
 [7,
  '1',
  '1995-01-01 15:00:00.000',
  0.0,
  0.0,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  0.0,
  None,
  None]]